<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás" defaultHref="/"> </ion-back-button>
    </ion-buttons>
    <ion-title>Reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item >
      <ion-label>
        <h3>
          <ion-skeleton-text width="50%"> </ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text width="100%"></ion-skeleton-text>
        </p>
      </ion-label>
      <ion-label>
        <ion-skeleton-text width="20px"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
