<ion-header>
  <ion-toolbar color="fondo">
    <ion-buttons slot="start">
      <ion-back-button text="Atrás" defaultHref="/"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="fondo">
  <ion-slides [options]="sliderOpts"
              >
    <ion-slide>
      
      <ion-button expand="full"
                  fill="outline"
                  size="larege"
                  shape="round">
          Escanear código
      </ion-button>

    </ion-slide>
  </ion-slides>

</ion-content>
