<ion-content>


  <ion-slides class="mainSlide">

    <ion-slide>

      <form (ngSubmit)="login(fLogin)" #fLogin="ngForm">
        <ion-grid fixed>

          <ion-row>
            <ion-col>
              <img src="/assets/avatars/av-1.png">
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>

              <ion-list>

                <ion-item>
                  <ion-input placeholder="Id" name="id" type="text" required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-input placeholder="Contraseña" name="password" type="password" required></ion-input>
                </ion-item>

              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="submit" color="tertiary" shape="round">
                Iniciar sesión
              </ion-button>
            </ion-col>
          </ion-row>

        </ion-grid>
      </form>



    </ion-slide>

    <ion-slide>


      <ion-grid fixed>

        <ion-row>
          <ion-col>
            <h3>Seleccione Avatar</h3>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-slides>
              <ion-slide *ngFor="let avatar of avatars">
                <img class="pick-avatar" [src]="avatar.img">
              </ion-slide>
            </ion-slides>
          </ion-col>
        </ion-row>

        <form>
          <ion-row>
            <ion-col>

              <ion-list>

                <ion-item>
                  <ion-input placeholder="Nombres" name="nombre" type="text" required></ion-input>
                </ion-item>

                <ion-item>                
                  <ion-input placeholder="Apellidos" name="apellido" type="text" required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-input placeholder="Facultad" name="apellido" type="text" required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-input placeholder="Email" name="email" type="email" required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-input placeholder="Id" name="idEstudiante" facultad type="text" required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-input placeholder="Contraseña" name="password" type="password" required></ion-input>
                </ion-item>

              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="submit" color="tertiary" shape="round">
                Crear usuario
              </ion-button>
            </ion-col>
          </ion-row>

        </form>
      </ion-grid>


    </ion-slide>


  </ion-slides>



</ion-content>


<ion-footer no-border>
  <ion-toolbar>

    <ion-row>

      <ion-col>
        <ion-button shape="round" expand="full" size="small" fill="outline" color="tertiary">
          Ingresar
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button shape="round" expand="full" size="small" fill="outline" color="tertiary">
          Registrarme
        </ion-button>
      </ion-col>

    </ion-row>



  </ion-toolbar>
</ion-footer>