<ion-header>
  <ion-toolbar color="fondo">
    <ion-buttons slot="start">
      <ion-back-button text="Atrás" defaultHref="/busqueda"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding color="fondo" class="ion-padding">
  <div style=" display: flex; align-items: center; justify-content: center;">
    <ion-card style="width: 150px; height: 200px; ">
      <ion-img [src]="image" style="width: 170px; height: 260px;"> </ion-img>
    </ion-card>
  </div>
  <div style=" display: flex; align-items: center; justify-content: center;">
    <ion-button class="top-20" shape="round" center="middle" fill="outline" color="success" routerLink='/tomar'>Tomar</ion-button>
    <ion-button class="top-20" shape="round" fill="solid" color="warning" routerLink='/reserva'>Reservar</ion-button>
  </div>
  <h1 >
    {{title}}
  </h1>
  <h6>
    {{authors}}
  </h6>
  <p>
    {{publisher}}
  </p>
  <p>
    {{publishedDate}}
  </p>
  <p>
    {{description}}
  </p>
  <p *ngIf="averageRating">
    <ion-icon name="star"> </ion-icon>
    {{averageRating}}
  </p>
</ion-content>