<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás" defaultHref="/"> </ion-back-button>
    </ion-buttons>
    <ion-title>Libro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      {{title}}

      
      {{inventarie}}

      
      {{categorie}}

    </ion-item>
  </ion-list>
  <ion-button expand="full" color="success">Tomar</ion-button>
  <ion-button expand="full" color="warning">Reservar</ion-button>
</ion-content>