<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás" defaultHref="/"> </ion-back-button>
    </ion-buttons>
    <ion-title>Libro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-card>
      <b><ion-card-content>
        {{title}}
      </ion-card-content></b>  
      <ion-card-content>
        {{author}}
      </ion-card-content>
      <ion-card-content>
        {{description}}
      </ion-card-content>
      
    </ion-card>
  
  </ion-list>
  <ion-button expand="full" color="success" routerLink='/tomar'>Tomar</ion-button>
  <ion-button expand="full" color="warning" routerLink='/reserva'>Reservar</ion-button>
</ion-content>