<ion-header>
  <ion-toolbar color="fondo">
    <ion-buttons slot="start">
      <ion-back-button text="Atrás" defaultHref="/accion"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding color="fondo"color="fondo" class="ion-padding">
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <div style="text-align: center">
          <h1>
            <h1>
              Entregaras el libro
            </h1>
            <hr width="80%">
            <h2>
              {{title}}
            </h2>
            <hr width="80%">
            <div style="display: flex; align-items: center; justify-content: center;">
              <ion-img [src]="image" style="width: 120px; height: 120px;">
              </ion-img>
            </div>

          </h1>
          <hr width="80%">
          <ion-label>Fecha Entrega</ion-label>
          <br>
          <b>
            <ion-label color="dark">{{FEntrega}}</ion-label>
          </b>
        </div>
      </ion-grid>
    </ion-card-content>
  </ion-card>


  <div style=" display: flex; align-items: center; justify-content: center;">
    <ion-button class="top-20" shape="round" fill="solid" (click)="tomar()">Entregar</ion-button>
  </div>
</ion-content>