<ion-header>
  <ion-toolbar color="fondo" >
    <ion-buttons slot="start">
      <ion-back-button text="Atrás" defaultHref="/"> </ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="fondo">
  <br/>
  <hr width="80%" />
  <ion-row class="top-20">
    <ion-col size="12" class="ion-text-center">
      <img src="assets/avatars/{{usuario.avatar}}" class="img-avatar" />
    </ion-col>
  </ion-row>
  <hr width="80%" />
  <form>
    <ion-grid>
      <div style="text-align: center;">
        <b>
          {{usuario.nombre}}
        </b>
      </div>
      <div style="text-align: center;">
        <b>
          {{usuario.apellido}}
        </b>
      </div>
      <div style="text-align: center;">
        <p>
          {{usuario.facultad}}
        </p>
      </div>
      <hr width="80%" />
    </ion-grid>
  </form>
</ion-content>

<ion-footer class="ion-no-border"  >
  <ion-toolbar color="fondo"  >
    <ion-img  src="https://i.ibb.co/1TWfqXC/banner.png" > </ion-img>
  </ion-toolbar>
</ion-footer>
